.category{
  width: 420px;
  padding: 40px 6px;
  font-size: 18px;
  border: 1px solid red;

  &__list{
    width: 180px;
    list-style: none;
  }

  &__item{
    position: relative;
    padding: 4px 6px;
    border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    color: aqua;
    background-color: gray;
    transition: .5s;
    opacity: .8;
    cursor: pointer;

    &:not(:last-child){
      margin-bottom: 8px;
    }

    &:hover,
    &:focus{
      color: #ece2e2;
      background-color: inherit;
      transform: translateX(25%);
    }
  }

  &__sublist {
    position: absolute;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
  
    &--active {
      position: absolute;
      top: 0;
      right: -101%;
      width: 220px;
      list-style: none;
    }
  }

  &__inner-item {
    padding: 4px 6px;
    text-align: left;
    text-transform: none;
    color: #ece2e2;
  
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  
    &:hover,
    &:focus {
      border-radius: 5px;
      color: aqua;
      background-color: gray;
    }
  }
}