$transparentBg: rgba(2,
3,
5, .6);
$accentColor: #1A637C;
$lightTextColor: #ece2e2;
$darkTextColor: #000;
$bgImage: url('https://ylianova.ru/800/600/https/funart.pro/uploads/posts/2020-04/1587216240_14-p-zadnie-foni-dlya-saitov-53.jpg');
$duration: .5s;